
.ticketPane{
  display:inline-block;
  max-height: 70vh;
  width: 640px;
  overflow-y: auto;
  border:1px solid #EFEFFF;
  vertical-align: top;
}

.ticketBox{
  min-height: 90px;
  margin: 10px;
  padding: 25px;
  border:1px solid #D4F2FF;
  transition: .3s all ease;
}

.ticketBox:hover{
  background-color: #98a0ad;
}

.ticketBox-enter {
  opacity: 0.01;
}

.ticketBox-enter.ticketBox-enter-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.ticketBox-leave {
  opacity: 1;
}

.ticketBox-leave.ticketBox-leave-active {
  opacity: 0;
  transition: opacity 10ms ease-in;
}

.ticketBox-appear {
  opacity: 0;
}

.ticketBox-appear.ticketBox-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.tPropsRow{
 min-height: 20px;
 border:0px solid red;
 margin-top:5px;
}


.tProps{
  display:inline-block;
  font-size: .9em;
  font-weight: normal;
  height: 20px;
  margin-right: 8px;
  vertical-align: bottom;

}

.expanded{
  height: 100px;
}

.tEventTitleBar{
  width:100%;
  border-bottom:1px solid #FFF;
  border-radius: 0px;
  height: 24px;
}

.tEventTitle, .tEventDate{
  padding-top:4px;
  font-weight: bold;
  font-size: 1em;
}

.tEventTitle{
  width: 60%;
  color: #c5d3ea;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.tStubHubId{
  font-weight: normal;
  color: orange;
}

.tSeatList{

}

.tSeatNode, .tLocSection, .tLocRow, .ticketId{
  display:inline-block;
  background-color: #BCD;
  min-width: 20px;
  text-align: center;
  color: #FFF;
  height:20px;
  margin-right:2px;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.tLocSection{
  background-color: #DBC;
}

.tLocRow{
  background-color: #CBD;
}

.ticketId{
  font-weight: bold;
  color: #000;
}


.tPricing{
  display:inline-block;
  font-weight: normal;
  margin-right: 8px;
  font-size: 1.15em;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.tPropsSmall{
  margin-top:5px;
  font-size: .75em;
}
