.TicketGroup_Rule_StopLoss, .TicketGroup_Rule_High, .TicketGroup_Rule_Low, .TicketGroup_Rule_Increment, .TicketGroup_Rule_Active{
  height: 40px;
  width: 100px;
  border:1px solid #777;
  margin: 0 auto;
  font-size: 1.25em;
  padding-left: 8px;
  padding-right: 8px;
}

.TicketGroup_Rule_StopLoss{
  background-color: #FDD;
  width: 40px;
  text-align: center;
}

.TicketGroup_Rule_High{
  color: #6A6;
  background-color: #DFD;
}

.TicketGroup_Rule_Low{
  color: #66D;
  background-color: #DDF;
}

.TicketGroup_Rule_Increment{
  color: #777;
  vertical-align: top;
  margin-left:3px;
  text-align: center;
}

.invalid{
 color: #F00;
}

.TicketGroup_Rule_Active{
  width: 40px;
  padding-top:5px;
  padding-left:8px;
  font-size:1.55em;
}

.TicketGroup_Rule_InputWrapper{
  display: inline-block;
  border:0px solid #CCC;
  padding-right: 10px;
  vertical-align: top;
  margin-bottom: 10px;
}

.TicketGroup_Rule_InputLabel{
  border:0px solid #CCC;
  padding: 2px;
  font-size:.8em;
  margin-bottom: 3px;
}

/************************************************************************/

.TicketGroup_QuickEdit{
  display:inline-block;
  width: 21px;
  height: 21px;
  padding-left:5px;
  padding-top: 3px;
  cursor: pointer;
  margin-right:2px;
}

.TicketGroup_CheckBox{
  display:inline-block;
  width: 39px;
  height: 39px;
  font-size: 1.6em;
  color: #FFF;
  border:1px solid #777;
  background-color: #FFF;
  padding-left:8px;
  padding-top: 5px;
  margin-right:0px;
  cursor: pointer;
}

.TicketGroup_QuickEdit:hover, .TicketGroup_CheckBox:hover, .TicketGroup_Checked, .TicketGroup_Active{
  color: #0A0;
  background-color: #b6f9b6;
}

.TicketGroup_Active{
    border-radius: 20px;
}

.TicketGroup_Active:hover{
    color: #9b7373;
    background-color: #e5acac;
}

.TicketGroup_Inactive{
  color: #9b7373;
  background-color: #e5acac;
}

.TicketGroup_NotCreated{
  color: #eaf0fc;
  background-color: #ced9ed;
}

.TicketGroup_Inactive:hover{
  color: #0A0;
  background-color: #b6f9b6;
}

.TicketGroup_Checked:hover{
  color: #FFF;
  background-color: #c64c33;
}

.TicketGroup_RefreshRule{
  color: #FFF;
  background-color: #c6c6c6;
}

.TicketGroup_RefreshRule:hover{
  color: #0A0;
  background-color: #b6f9b6;
}
