.rulePane{
  display:inline-block;
  max-height: 70vh;
  width: 640px;
  overflow-y: auto;
  border:1px solid #EFEFFF;
  vertical-align: top;
}

.ruleBox{
  min-height: 90px;
  margin: 10px;
  padding: 25px;
  border:1px solid #D4F2FF;
  transition: .3s all ease;
  cursor: pointer;
}

.ruleBox-enter {
  opacity: 0.01;
}

.ruleBox-enter.ruleBox-enter-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.ruleBox-leave {
  opacity: 1;
}

.ruleBox-leave.ruleBox-leave-active {
  opacity: 0;
  transition: opacity 10ms ease-in;
}

.ruleBox-appear {
  opacity: 0;
}

.ruleBox-appear.ruleBox-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.ruleBox:hover{
  background-color: #EFEFEE;
}

.ruleId{
  font-weight: bold;
  color: blue;
}

.ruleTextNode{
  display:inline-block;
  background-color: #BCD;
  font-size: .9em;
  color: #FFF;
  height:20px;
  margin-right:2px;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #bac5d8;
}

.ruleText{
  width: 145px;
}

.ruleDate{
  width: 85px;
}
.ruleSection{
  text-align: left;
  width: 100px;
}


.modalStopLoss, .modalHigh, .modalLow, .modalIncrement{
  height: 40px;
  width: 100px;
  border:1px solid #777;
  margin: 0 auto;
  font-size: 1.25em;
  padding-left: 8px;
  padding-right: 8px;
}

.modalStopLoss{
  background-color: #FDD;
  text-align: center;
}

.modalHigh{
  color: #6A6;
  background-color: #DFD;
}

.modalLow{
  color: #66D;
  background-color: #DDF;
}

.modalIncrement{
  text-align: center;
}

.modalInputWrapper{
  display: inline-block;
  border:0px solid #CCC;
  padding-right: 10px;
  vertical-align: top;
  margin-bottom: 10px;
}

.modalInputLabel{
  border:0px solid #CCC;
  padding: 2px;
  width:100px;
  margin-bottom: 3px;
}

.modalClose{
  position:absolute;
  font-size: 1.5em;
  top:10px;
  right:10px;
  cursor: pointer;
}

.modalClose:hover{
  color: #F88;
}

.modalRuleName{
  border: 1px solid #777;
  width: 300px;
  height:30px;
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}
